/* 
    Created on : 04.01.2018, 04:54:54
    Author     : reich
*/

/*** 12 spaltiges Grid mit Flexboxen ***/

/*** Container ***/
.row {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

/*** Spaltendefinitionen Smartphone Ansicht ***/
@media (max-width: 529px) {
    .col-s-12 {
        flex: 0 0 100%;
    }
    
    /*** Loesung Workshop-Seite ***/
    .textContent {
        padding: 15px 0 0 0;
    }
}

/*** Spaltendefinitionen Tablet Ansicht ***/
@media (min-width: 530px) {
    .col-m-1 {
        flex: 0 0 100%;
    }
    .col-m-4 {
        flex: 0 0 33.3333333%;
    }
    .col-m-6 {
        flex: 0 0 50%;
    }
    .col-m-12 {
        flex: 0 0 100%;
    }  
}

/*** Spaltendefinitionen Desktop Ansicht ***/
@media (min-width: 800px) {
    .col-1 {
        flex: 0 0 8.3333333%;
    }
    .col-3 {
        flex: 0 0 25%;
    }
    .col-4 {
        flex: 0 0 33.3333333%;
    }
    .col-5 {
        flex: 0 0 41.6666667%;
    }
    .col-6 {
        flex: 0 0 50%;
    }
    .col-8 {
        flex: 0 0 66.66666667%;
    }
    .col-12 {
        flex: 0 0 100%;
    }
}